---
import Layout from "../../../../layouts/Layout.astro";
import MainInfo from "../../../../components/media/MainInfo.astro"
import { apiClient } from "../../../../lib/apiClient";
import { staticMediaItems } from "../../../../lib/staticMedia";


export const getStaticPaths = async () => {
    const items = await staticMediaItems();
    return items.map((item) => ({
        params: {
            source: item.source,
            type: item.media_type,
            id: String(item.id),
        },
    }));
};

const { source, type, id } = Astro.params;
const res = await apiClient.get(`/${type}/${id}`, {
    params: { language: "en-US" },
});

const media = res.data;
console.log(media);

const pageTitle = media.title || media.name;
---

<Layout title={pageTitle} description={media.overview}>
    <main class="w-svw h-svh pt-14">
        <section
        class=""
            style={`background-image: url('https://image.tmdb.org/t/p/w1280${media.backdrop_path}'); 
            position: relative; height: 60vh; width: 100%; background-size: cover; background-position: center;`}
        >
        <div class="grid grid-cols-[1fr_2fr] w-full h-full bg-black/60">
            <MainInfo media={media} />
        </div>
        </section>
        <figure
           style={{ backgroundImage: `url(https://image.tmdb.org/t/p/w1280${media.poster_path})` }}
            class="media__figure shadow shadow-amber-100 absolute flex bottom-36  left-14 w-60 h-80 rounded overflow-hidden"
        >
            <img
                class="w-full h-full"
                src={`https://image.tmdb.org/t/p/w1280${media?.poster_path}`}
                alt={media?.title}
            />
        </figure>
        <section class="w-full grid grid-cols-[1fr_2fr] border-t-4 border-orange-100 p-4 ">
            <article class="col-start-2 flex gap-x-2 text-slate-100">
                <p>{media?.release_date}</p>
                <span>{media?.status}</span>
            </article>

        </section>
    </main>
</Layout>
