---
import RatingRing from "./RatingRing.astro";
import { Trailer } from "./Trailer";

const { media, type, id } = Astro.props;

type Company = {
    id: number;
    logo_path: string | null;
    name: string;
    origin_country: string;
};

console.log(media);

---

<article
    class="flex flex-col col-start-2 p-4 text-pretty w-full h-full text-white"
>
    <h1 class="text-4xl font-semibold">
        {media?.title ? media?.title : media?.name} - ({
            media?.release_date
                ? media.release_date.slice(0, 4)
                : media?.first_air_date?.slice(0, 4)
        })
    </h1>
    <article class="flex items-center gap-x-2 my-4 text-slate-100">
        <p class="text-slate-200 font-light text-shadow-md text-shadow-black">
            {media?.release_date ? media.release_date : media.first_air_date}
        </p>
        <span
            class={`${media?.status === "Released" ? "text-emerald-400" : "text-amber-400"} text-shadow-lg`}
            >{media?.status}
        </span>
        <div class="flex flex-wrap mx-4 gap-2">
            {
                media?.genres.map((genre: { id: number; name: string }) => (
                    <p class="w-fit px-2 rounded-xl bg-black/70 ring-2 ring-sky-700">
                        {genre.name}
                    </p>
                ))
            }
        </div>
    </article>
    <article class="flex flex-col h-full gap-3 mt-4">
        <p class="italic text-lg text-sky-300">
            {media?.tagline ? `"${media.tagline}"` : ""}
        </p>
        <div class="">
            <label class="text-xl font-semibold" for=""> Overview: </label>
            <p class="text-white">{media?.overview}</p>
        </div>
        <div class="flex gap-x-10">
            <section
                class="group p-1 "
            >
                <h4 class="text-xl font-semibold">Ratings:</h4>
                <div class="flex gap-x-4">
                    <RatingRing value={media?.vote_average} /> 
                    <article class="flex flex-col justify-center items-center">
                        <p
                            class="text-2xl group-hover:text-blue-500 font-semibold transition-all duration-150"
                        >
                            {media?.vote_count}
                        </p>
                        <p class="text-lg">Users vote</p>
                    </article>
                </div>
            </section>
            <Trailer type={type} id={id} client:load />
            <!-- <div class="p-2">
                <h4 class="text-xl font-semibold">Production:</h4>
                <section class="flex flex-wrap gap-3 bg-white/60 p-1 rounded backdrop-blur-sm my-4">
                    {
                        media?.production_companies.map((company: Company) => (
                            <div
                                class={`${company.logo_path ? "flex flex-col  justify-center h-14 w-fit items-center p-1 rounded" : "hidden"} `}
                            >
                                {company.logo_path && (
                                    <figure class="w-12 flex ">
                                        <img
                                            title={company.name}
                                            class="w-full"
                                            src={`https://image.tmdb.org/t/p/w1280${company.logo_path}`}
                                            alt={company.name}
                                        />
                                    </figure>
                                )}
                            </div>
                        ))
                    }
                </section>
            </div> -->
        </div>
    </article>
</article>
